#div1{
    width:100%;  
    position:absolute;  
    background:blank;  
    z-index:998;
    top:0;  
    left:0px;  
    height:2000px;
    opacity:0.6; 
}
#div2{
   
   position:relative;  
   width:300px;
   height:50px;
   text-align:center;
   color:green;
    left:700px;
    top: 300px; 
}
#close{
   position:relative;
   left:300px;
   top:-20px;
}