div#div1{ 
position:fixed; 
top:0; 
left:0; 
bottom:0; 
right:0; 
z-index:-1; 
} 

div#div1 > img { 
height:100%; 
width:100%; 
border:0; 
}
.regist_news{
	position:absolute;
	left:650px;
	top:150px;
} 

h1{
	position:absolute;
	left:670px;
	top:80px;
}
.input{
	position:absolute;
	left:650px;
	top:350px;
}
.regist{
	position:relative;
	left:85px;
	top:40px;
	width:50px;
	height:30px;
}
.user_input{
	color:red;
}
.pass_input{
	color:red;
}
.city_input{
	color:red;
}
.codeSpan{
	color:red;
}